.alert-danger {
	display: flex;
	align-items: center;
	align-content: center;
	gap: 1rem;

	background-color: lighten($color: #F44336, $amount: 4%);
	border-radius: .5rem;
	color: $color-grey-light-1;
	font-size: 1.4rem;
	font-weight: 500;
	padding: .75rem 1rem;
	margin-top: .25rem;
}
