//* Mixins
@mixin info-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	padding: 0 2rem;
	text-align: center;
	height: 85vh;
	width: 40vw;

	@media (max-width: $bp-medium) {
		height: 32.5vh;
		width: 80vw;
	}
}

@mixin display-form {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: lighten($color: $color-grey-light-2, $amount: 30);
	box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.50);
	padding: 0rem;

	@media (max-width: $bp-medium) {
		flex-direction: column;
	}
}

@mixin form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	height: 85vh;
	width: 40vw;

	@media (max-width: $bp-medium) {
		height: 62.5vh;
		width: 80vw;
	}
}

@mixin form-group {
	&__group {
		display: flex;
		flex-direction: column;
		gap: .35rem;
		width: 75%;
	}

	&__label {
		color: $color-grey-dark-2;
		font-size: 1.6rem;
	}

	&__input {
		background-color: lighten($color: $color-grey-dark-1, $amount: 62.5);
		border: none;
		border-radius: .5rem;
		outline: none;
		padding: 1.25rem 1.75rem;

		&::placeholder {
			color: lighten($color: $color-grey-dark-1, $amount: 20);
			font-size: 1.4rem;
		}
	}
}

@mixin form-submit {
	&__submit {
		background-color: $color-primary;
		border: none;
		border-radius: 1rem;
		color: $color-grey-light-1;
		font-size: 1.8rem;
		font-weight: 600;
		padding: 1.25rem 2rem;
		margin-top: 1rem;
		text-transform: uppercase;
		width: 75%;

		transition: all .5s ease;

		&:hover {
			background-color: $color-secondary;
			cursor: pointer;
		}

		&:disabled, &[disabled] {
			border: 2px solid darken($color: $color-secondary, $amount: 10%);
			background-color: $color-grey-light-1;
			color: darken($color: $color-secondary, $amount: 10%);
		}
	}
}

@mixin anchor-link {
	a {
		border: 2px solid $color-grey-light-1;
		border-radius: 1rem;
		color: $color-grey-light-1;
		font-size: 1.75rem;
		padding: .75rem 2.5rem;
		text-decoration: none;
		transition: all .5s ease;

		&:hover {
			color: $color-primary;
			background-color: $color-grey-light-1;
		}
	}
}

//* Authenication
.auth {
	@include display-form;
	border-radius: 2rem;

	&-form {
		@include form;
		@include form-group;
		@include form-submit;

		&__social {
			margin-bottom: .5rem;

			&--button {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 1rem;

				background-color: lighten($color: $color-grey-light-1, $amount: 25);
				border-radius: 0.5rem;
				border: 2px solid $color-grey-dark-1;
				color: $color-grey-dark-1;
				font-size: 1.6rem;
				font-weight: 600;
				height: 4rem;
				padding: 1rem 4rem;

				transition: all .5s ease;

				&:hover {
					color: lighten($color: $color-grey-light-1, $amount: 25);
					cursor: pointer;
				}

				&:hover {
					background-color: $color-google;
				}
			}
		}
	}

	&-aside {
		@include info-message;
		@include anchor-link;

		background-image: linear-gradient(45deg, $color-secondary, $color-primary);
		color: $color-grey-light-1;
	}
}
