//* Mixins
@mixin info-message($border-radius, $border-radius-small) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	border-radius: $border-radius;
	padding: 0 2rem;
	text-align: center;
	height: 85vh;
	width: 40vw;

	@media (max-width: $bp-medium) {
		border-radius: $border-radius-small;
		height: 32.5vh;
		width: 80vw;
	}
}

@mixin display-form {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: lighten($color: $color-grey-light-2, $amount: 30);
	border-radius: 1.5rem;
	box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.50);
	padding: 0rem;

	@media (max-width: $bp-medium) {
		flex-direction: column;
	}
}

@mixin form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	border-radius: 1.5rem 0 0 1.5rem;
	height: 85vh;
	width: 40vw;

	@media (max-width: $bp-medium) {
		border-radius: 1.5rem 1.5rem 0 0;
		height: 62.5vh;
		width: 80vw;
	}
}

@mixin form-group {
	&-group {
		display: flex;
		flex-direction: column;
		gap: .35rem;
		width: 75%;

		&-label {
			color: $color-grey-dark-2;
			font-size: 1.6rem;
		}

		&-input {
			background-color: lighten($color: $color-grey-dark-1, $amount: 62.5);
			border: none;
			border-radius: .5rem;
			outline: none;
			padding: 1.25rem 1.75rem;

			&::placeholder {
				color: lighten($color: $color-grey-dark-1, $amount: 20);
				font-size: 1.4rem;
			}
		}
	}
}

@mixin form-submit {
	&-submit {
		background-color: $color-primary;
		border: none;
		border-radius: 1rem;
		color: $color-grey-light-1;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 1.25rem 2rem;
		margin-top: 1rem;
		text-transform: uppercase;
		width: 75%;

		transition: all .5s ease;

		&:hover {
			background-color: $color-secondary;
			cursor: pointer;
		}

		&:disabled, &[disabled] {
			border: 2px solid darken($color: $color-secondary, $amount: 10%);
			background-color: $color-grey-light-1;
			color: darken($color: $color-secondary, $amount: 10%);
		}
	}
}

@mixin anchor-link {
	a {
		color: $color-grey-light-1;
		font-size: 1.75rem;
		padding: .75rem 2.5rem;
		text-decoration: none;
		transition: all .5s ease;

		border: 2px solid $color-grey-light-1;
		border-radius: 1rem;

		&:hover {
			color: $color-primary;
			background-color: $color-grey-light-1;
		}
	}
}

//* Login Page
.login {
	@include display-form;

	&__form {
		@include form;
		@include form-group;
		@include form-submit;
	}

	&__register {
		@include info-message(0 1.5rem 1.5rem 0, 0 0 1.5rem 1.5rem);
		@include anchor-link;

		background-image: linear-gradient(45deg, $color-secondary, $color-primary);
		color: $color-grey-light-1;
	}

	&__social {
		display: flex;
		justify-content: space-between;
		gap: 2rem;

		margin-bottom: .5rem;

		&-button {
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all .5s ease;

			border: 1px solid $color-grey-dark-1;
			border-radius: 100%;
			background-color: lighten($color: $color-grey-light-1, $amount: 25);
			color: $color-grey-dark-1;
			height: 4rem;
			width: 4rem;

			&:hover {
				color: lighten($color: $color-grey-light-1, $amount: 25);
				cursor: pointer;
			}

			&:nth-child(1):hover {
				background-color: $color-google;
			}

			&:nth-child(2):hover {
				background-color: $color-facebook;
			}

			&:nth-child(3):hover {
				background-color: $color-twitter;
			}
		}
	}
}

//* Register Page
.register {
	@include display-form;

	&__form {
		@include form;
		@include form-group;
		@include form-submit;
	}

	&__login {
		@include info-message(1.5rem 0 0 1.5rem, 1.5rem 1.5rem 0 0);
		@include anchor-link;

		background-image: linear-gradient(45deg, $color-secondary, $color-primary);
		color: $color-grey-light-1;
	}
}
