//* Mixins
@mixin scrollbar {
	-webkit-box-shadow: inset 0 0 1.2rem $color-primary;
	box-shadow: inset 0 0 1.2rem $color-primary;
	border-radius: .5rem;
}

@mixin center-content {
	display: block;
	align-self: center;
	margin: 0 auto;
	width: 75%;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin button ($font-size, $padding, $height, $width) {
	background-color: $color-primary;
	color: $color-grey-light-1;
	border: none;
	border-radius: .5rem;
	font-size: $font-size;
	font-weight: 600;
	text-align: center;
	padding: $padding;
	height: $height;
	width: $width;

	transition: all .5s ease;
}

@mixin link ($active) {
	@include center-content;

	background-color: lighten($color: $color-secondary, $amount: 10%);
	border: none;
	border-radius: .5rem;
	color: $color-grey-light-1;
	font-size: 1.6rem;
	font-weight: 600;
	padding: 1.25rem 0;
	margin-bottom: 1.5rem;

	transition: all .5s ease;

	&:hover {
		background-color: $color-secondary;
		cursor: pointer;
	}

	@media (min-width: $bp-medium) {
		width: 100%;
	}

	&-active {
		background-color: $color-secondary;
		color: $color-grey-light-1;
	}
}

//* Sidebar Component
.sidebar {
	@include flex-center;
	flex-direction: column;

	position: relative;
	padding: 2rem 0;
	background-color: #ffffff;
	box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.3);

	@media (min-width: $bp-medium) {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		top: 0;
		width: 28rem;
	}

	&__menu {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;

		padding: 0 1.5rem;
		width: 100%;

		@media (min-width: $bp-medium) {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: stretch;
			min-height: 100%;
		}

		&-toggler {
			display: flex;
			justify-content: flex-end;

			button {
				@include flex-center;
				@include button(2.4rem, 0, 4.5rem, 4.5rem);

				&:hover {
					background-color: $color-secondary;
					cursor: pointer;
				}
			}

			@media (min-width: $bp-medium) {
				display: none;
			}
		}
	}

	&__heading {
		display: none;
		color: lighten($color: $color-primary, $amount: 25);
		font-size: 2rem;
		line-height: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;

		@media (min-width: $bp-medium) {
			display: block;
			font-size: 3.2rem;
			line-height: 2.5rem;
			text-align: center;
		}
	}

	&__collapse {
		align-items: center;
		flex: 1 1 0%;

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: auto;
		z-index: 10;

		@media (min-width: $bp-medium) {
			display: flex !important;
			flex-direction: column;
			align-items: stretch;

			position: relative;
			opacity: 1;
		}

		&-head {
			display: block;
			margin-bottom: 2rem;

			@media (min-width: $bp-medium) {
				display: none;
				min-width: 100%;
			}

			&--title {
				display: flex;
				flex-wrap: wrap;
				text-transform: uppercase;
				width: 50%;
			}

			&--close {
				display: flex;
				justify-content: flex-end;
				margin: 0 2rem;

				button {
					@include flex-center;
					@include button(2.4rem, 0, 4.5rem, 4.5rem);

					&:hover {
						background-color: $color-secondary;
						cursor: pointer;
					}
				}
			}
		}

		&-menu {
			display: flex;
			flex-direction: column;
			flex: 1 1 0%;

			@media (min-width: $bp-medium) {
				margin-top: 1.5rem;
			}
		}

		&-menu-items {
			display: flex;
			flex-direction: column;

			@media (min-width: $bp-medium) {
				margin-top: 1rem;
				flex-direction: column;
				min-width: 100%;
			}
		}
	}

	&__link {
		@include link($active: false);
		// @include center-content;

		// background-color: lighten($color: $color-secondary, $amount: 10%);
		// border: none;
		// border-radius: .5rem;
		// color: $color-grey-light-1;
		// font-size: 1.6rem;
		// font-weight: 600;
		// padding: 1.25rem 0;
		// margin-bottom: 1.5rem;

		// transition: all .5s ease;

		// &:hover {
		// 	background-color: $color-secondary;
		// 	cursor: pointer;
		// }

		// @media (min-width: $bp-medium) {
		// 	width: 100%;
		// }

		&-active {
			@include link($active: true);
		}
	}

	&__create {
		@include center-content;
		@include button(2.1rem, 1.2rem 0, auto, 75%);

		&:hover {
			background-color: $color-secondary;
			cursor: pointer;
		}

		@media (min-width: $bp-medium) {
			font-size: 2rem;
			width: 100%;
		}
	}

	&__projects {
		@include center-content;

		overflow-y: scroll;
		margin-bottom: 4rem;
		margin-top: 4rem;
		padding: 0 1rem;
		height: 50vh;

		@media (min-width: $bp-medium) {
			margin-top: 1rem;
			height: 65vh;
			width: 100%;
		}

		&::-webkit-scrollbar {
			width: 1rem;
		}

		&::-webkit-scrollbar-track {
			@include scrollbar;
		}

		&::-webkit-scrollbar-thumb {
			@include scrollbar;
		}
	}
}

//* Classes
.hidden {
	display: none;
}

.menu-responsive {
	background-color: lighten($color: $color-grey-light-1, $amount: 10%);
	padding: 2rem 0;
}

.projects-title {
	font-size: 2.2rem;
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom: 2rem;
	text-align: center;
}
