.sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;
	padding: 2rem 0;
	background-color: #ffffff;
	box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.3);

	@media (min-width: $bp-medium) {
		display: block;
		// overflow-y: auto;
		// overflow: hidden;

		position: fixed;
		bottom: 0;
		left: 0;
		top: 0;
		width: 28rem;
	}

	&__menu {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;

		padding: 0 1.5rem;
		width: 100%;

		@media (min-width: $bp-medium) {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: stretch;
			min-height: 100%;
		}

		&-toggler {
			display: flex;
			justify-content: flex-end;

			button {
				display: flex;
				justify-content: center;
				align-items: center;

				background-color: $color-primary;
				color: $color-grey-light-1;
				border: none;
				border-radius: .5rem;
				font-size: 2.4rem;
				text-align: center;
				height: 4.5rem;
				width: 4.5rem;

				&:hover {
					background-color: $color-secondary;
					cursor: pointer;
				}
			}

			@media (min-width: $bp-medium) {
				display: none;
			}
		}
	}

	&__heading {
		display: none;
		color: lighten($color: $color-primary, $amount: 25);
		font-size: 2rem;
		line-height: 1.5rem;
		font-weight: 600;
		text-transform: uppercase;

		@media (min-width: $bp-medium) {
			display: block;
			font-size: 3.2rem;
			line-height: 2.5rem;
			text-align: center;
		}
	}

	&__collapse {
		flex: 1 1 0%;
		align-items: center;

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		// overflow-x: hidden;
		// overflow-y: auto;
		height: auto;
		z-index: 10;

		@media (min-width: $bp-medium) {
			display: flex !important;
			flex-direction: column;
			align-items: stretch;

			position: relative;
			opacity: 1;
		}

		&-head {
			display: block;
			margin-bottom: 2rem;

			@media (min-width: $bp-medium) {
				display: none;
				min-width: 100%;
			}

			&--title {
				display: flex;
				flex-wrap: wrap;
				text-transform: uppercase;
				width: 50%;
			}

			&--close {
				display: flex;
				justify-content: flex-end;
				margin: 0 2rem;

				button {
					display: flex;
					justify-content: center;
					align-items: center;

					background-color: $color-primary;
					color: $color-grey-light-1;
					border: none;
					border-radius: .5rem;
					font-size: 2.4rem;
					text-align: center;
					height: 4.5rem;
					width: 4.5rem;

					&:hover {
						background-color: $color-secondary;
						cursor: pointer;
					}
				}
			}
		}

		&-menu {
			display: flex;
			flex-direction: column;
			flex: 1 1 0%;
			justify-content: space-between;

			@media (min-width: $bp-medium) {
				margin-top: 1.5rem;
			}
		}

		&-menu-items {
			display: flex;
			flex-direction: column;

			@media (min-width: $bp-medium) {
				margin-top: 1rem;
				flex-direction: column;
				min-width: 100%;
			}
		}

		&-menu-logout {
			align-self: center;
			background-color: $color-grey-light-1;
			border: 2px solid $color-grey-dark-1;
			border-radius: .5rem;
			color: $color-grey-dark-1;
			font-size: 1.6rem;
			font-weight: 600;
			padding: 1rem 0;

			width: 50%;
			transition: all .5s ease;

			&:hover {
				background-color: $color-grey-dark-1;
				color: $color-grey-light-1;
				cursor: pointer;
			}
		}
	}

	&__link {
		display: block;
		align-self: center;
		background-color: lighten($color: $color-secondary, $amount: 10%);
		border: none;
		border-radius: .5rem;
		color: $color-grey-light-1;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 1.25rem 0;
		margin: 0 auto;
		margin-bottom: 1.5rem;
		width: 75%;

		transition: all .5s ease;

		&:hover {
			background-color: $color-secondary;
			cursor: pointer;
		}

		@media (min-width: $bp-medium) {
			width: 100%;
		}
	}

	&__create {
		display: block;
		align-self: center;
		background-color: $color-primary;
		border: none;
		border-radius: .5rem;
		color: $color-grey-light-1;
		font-size: 1.6rem;
		font-weight: 600;
		padding: 1.25rem 0;
		margin: 0 auto;
		width: 75%;

		transition: all .5s ease;

		&:hover {
			background-color: $color-secondary;
			cursor: pointer;
		}

		@media (min-width: $bp-medium) {
			width: 100%;
		}
	}

	&__projects {
		display: block;
		align-self: center;
		overflow-y: scroll;
		margin: 0 auto;
		margin-bottom: 4rem;
		margin-top: 4rem;
		padding: 0 1rem;
		height: 50vh;
		width: 75%;

		@media (min-width: $bp-medium) {
			cursor: pointer;
			margin-bottom: 1rem;
			margin-top: 1rem;
			height: 60vh;
			width: 100%;
		}

		&::-webkit-scrollbar {
			width: 1rem;
		}

		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 1.2rem $color-primary;
			box-shadow: inset 0 0 1.2rem $color-primary;
			border-radius: .5rem;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: .5rem;
			-webkit-box-shadow: inset 0 0 1.2rem $color-primary;
			box-shadow: inset 0 0 1.2rem $color-primary;
		}
	}
}

.hidden {
	display: none;
}

.menu-responsive {
	background-color: lighten($color: $color-grey-light-1, $amount: 10%);
	padding: 2rem 0;
}

.projects-title {
	font-size: 2.2rem;
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom: 2rem;
	text-align: center;
}
