/* GENERALS */
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: $bp-medium) {
		font-size: 50%;
	}
}

body {
  background-color: $color-grey-light-1;
	font-family: $font-primary;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	display: grid;
  place-content: center;
  height: 100vh;
	padding: 2rem;
}
