//* Colors
$color-primary: #072227;
$color-secondary: #35858B;
$color-tertiary: #4FBDBA;
$color-light: #AEFEFF;

//* Fonts
$font-primary: 'Lato', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//* Breakpoints
$bp-largest: 75em;  /* 1200px */
$bp-large: 62.5em;  /* 1000px */
$bp-medium: 50em;   /* 800px */
$bp-small: 37.5em;  /* 600px */
