.mb-sm {
	margin-bottom: 2rem;
}

.mb-md {
	margin-bottom: 3rem;
}

.mb-lg {
	margin-bottom: 4rem;
}

.mb-xl {
	margin-bottom: 8rem;
}

.mt-sm {
	margin-top: 2rem;
}

.mt-md {
	margin-top: 3rem;
}

.mt-lg {
	margin-top: 4rem;
}

.mt-xl {
	margin-top: 8rem;
}

.separator {
	border-top: 2px solid $color-secondary;
	margin: 2rem 4rem;

	@media (min-width: $bp-medium) {
		margin: 2rem 0;
	}
}
