.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 8rem;
}

.mt-sm {
  margin-top: 2rem;
}

.mt-md {
  margin-top: 3rem;
}

.mt-lg {
  margin-top: 4rem;
}

.mt-xl {
  margin-top: 8rem;
}

.separator {
  border-top: 2px solid $color-secondary;
  margin: 2rem 4rem;

  @media (min-width: $bp-medium) {
    margin: 2rem 0;
  }
}

.log-in {
  margin-top: 2rem;

  a {
    border: 2px solid $color-primary;
    border-radius: 0.5rem;
    color: $color-primary;
    font-size: 2.2rem;
    padding: 0.75rem 2.5rem;
    text-decoration: none;

    transition: all 0.5s ease;

    &:hover {
      color: $color-grey-light-1;
      background-color: $color-primary;
    }
  }
}

.swal__button {
  border: none;
  border-radius: .5rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: .75rem 2rem;
  margin-right: 1rem;

  transition: all 0.5s ease;

	&:hover {
		cursor: pointer;
	}

  &--confirm {
    background-color: $color-secondary;
    color: $color-grey-light-1;

		&:hover {
			background-color: $color-primary;
		}
  }

	&--deny {
    background-color: $color-grey-light-1;
    color: $color-grey-dark-1;

		&:hover {
			background-color: lighten($color: $color-grey-light-2, $amount: 15%);
		}
  }
}
